# CH340 plug: ensure the user listener is running (GUI session handles the show)
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ACTION=="add", RUN+="/home/w/Documents/automatic_raspberry-pi/ch340-udev-trigger.sh"
